 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/0917a18d4eac9a53724c22195f9fd6bd83537ec28748099d8ea8e20becaa4c4a6a1d9c4389b021daf343ab9e1b4e2974d092f80167feb7a9890acf_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 385px;
}

.u-section-1 .u-text-1 {
  margin: 171px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 317px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 243px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 182px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 115px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 50vw;
}

.u-section-2 .u-layout-wrap-1 {
  width: 1163px;
  margin: 37px -23px 0 auto;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 510px;
}

.u-section-2 .u-container-layout-1 {
  padding: 17px 11px;
}

.u-section-2 .u-text-1 {
  margin: 10px 20px 0;
}

.u-section-2 .u-text-2 {
  text-align: left;
  margin: 49px 19px 0;
}

.u-section-2 .u-text-3 {
  text-align: left;
  font-weight: normal;
  margin: -8px 19px 0;
}

.u-section-2 .u-list-icon-1 {
  color: rgb(0, 0, 0) !important;
}

.u-section-2 .u-list-icon-2 {
  color: rgb(0, 0, 0) !important;
}

.u-section-2 .u-list-icon-3 {
  color: rgb(0, 0, 0) !important;
}

.u-section-2 .u-list-icon-4 {
  color: rgb(0, 0, 0) !important;
}

.u-section-2 .u-image-1 {
  min-height: 510px;
  background-image: url("images/832161e1a00df994347fead4a6c823ad8c6552649c98d5615ed1d58dc6dfee76e78c03d221debd4a28bdf5467fe1fc999133be16d1aec9f1110456_1280.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-btn-1 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: normal;
  font-weight: normal;
  margin: 37px auto 52px;
}

.u-section-2 .u-icon-1 {
  color: rgb(0, 0, 0) !important;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 656px;
  }

  .u-section-2 .u-layout-wrap-1 {
    position: relative;
    width: 940px;
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 412px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-right: 0;
    margin-left: 11px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-image-1 {
    min-height: 377px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 568px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 0;
    margin-right: 100px;
  }

  .u-section-2 .u-image-1 {
    min-height: 289px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 813px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-2 .u-image-1 {
    min-height: 434px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1234px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-2 .u-text-1 {
    width: 220px;
    margin-top: 17px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-image-1 {
    min-height: 273px;
  }

  .u-section-2 .u-btn-1 {
    letter-spacing: 0px;
    font-weight: 700;
    margin-top: 86px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 370px;
}

.u-section-3 .u-group-1 {
  min-height: 250px;
  width: 1140px;
  margin: 48px 0 60px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  margin: 28px auto 0;
}

.u-section-3 .u-form-1 {
  background-image: none;
  height: 85px;
  width: 1049px;
  margin: 28px 19px 0 12px;
}

.u-section-3 .u-form-group-2 {
  margin-left: 0;
}

.u-section-3 .u-form-group-4 {
  margin-left: 0;
}

.u-section-3 .u-form-group-5 {
  margin-left: 0;
}

.u-section-3 .u-btn-1 {
  border-style: solid;
  letter-spacing: 0px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 10px 30px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-group-1 {
    width: 940px;
  }

  .u-section-3 .u-form-1 {
    margin-top: 20px;
    margin-right: 0;
    margin-left: 0;
    width: 880px;
  }

  .u-section-3 .u-btn-1 {
    width: 100%;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-group-1 {
    width: 720px;
  }

  .u-section-3 .u-form-1 {
    width: 660px;
    margin-top: 22px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-group-1 {
    width: 540px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-form-1 {
    width: 520px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-group-1 {
    width: 340px;
  }

  .u-section-3 .u-form-1 {
    width: 320px;
  }
}